In [1]:
# A high-level snapshot of the district's key metrics, presented in a table format
# An overview of the key metrics for each school, presented in a table format
# Tables presenting each of the following metrics:
    # Top 5 and bottom 5 performing schools, based on the overall passing rate
    # The average math score received by students in each grade level at each school
    # The average reading score received by students in each grade level at each school
    # School performance based on the budget per student
    # School performance based on the school size 
    # School performance based on the type of school

In [2]:
# Add the Pandas dependency.
import pandas as pd
import os

In [3]:
# Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")
student_clean_data_to_load = os.path.join("Resources", "clean_students_complete.csv")

In [4]:
# Read the school data and store it in a Pandas DataFrame.

school_data_df = pd.read_csv(school_data_to_load)

In [5]:
# Read the student data and store it in a Pandas DataFrame.

student_data_df = pd.read_csv(student_data_to_load)

In [6]:
# Add each prefix and suffix to remove to a list.

prefixes_suffixes = ["Dr. ", "Mr. ", "Mrs. ", "Miss ", "Ms. ", " DDS"," DVM", " MD", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".

for word in prefixes_suffixes:
    
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"", regex=True)

In [7]:
student_names = student_data_df["student_name"].tolist()

In [8]:
surname_list = []

for name in student_names:
    if len(name.split()) >= 3:
        surname_list.append(name)

In [9]:
# Combine the data into a single dataset.

school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])

In [10]:
# Get the total number of students.

student_count = school_data_complete_df["Student ID"].count()

student_count

39170

In [11]:
# Calculate the total number of schools.

school_count = len(school_data_complete_df["school_name"].unique())

school_count

15

In [12]:
# Calculate the Total Budget.

total_budget = school_data_df["budget"].sum()

total_budget

24649428

In [13]:
# Calculate the average reading score.

average_reading_score = school_data_complete_df["reading_score"].mean()

average_reading_score

81.87784018381414

In [14]:
# Calculate the average math score.

average_math_score = school_data_complete_df["math_score"].mean()

average_math_score

78.98537145774827

In [15]:
# Get all the students that passed math in new DataFrame.

passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]

# Get all the students that passed reading in new DataFrame.

passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [16]:
# Calculate the number of students passing math.

passing_math_count = passing_math["student_name"].count()
print(passing_math_count)

# Calculate the number of students passing reading.

passing_reading_count = passing_reading["student_name"].count()
print(passing_reading_count)

29370
33610

In [17]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100
print(passing_math_percentage)

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [18]:
# Calculate the students who passed both math and reading.

passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

overall_passing_math_reading_count = passing_math_reading["student_name"].count()

overall_passing_math_reading_count

25528

In [19]:
# Calculate the overall passing percentage.

overall_passing_percentage = overall_passing_math_reading_count / float(student_count) * 100

overall_passing_percentage

65.17232575950983

In [20]:
# Adding a list of values with keys to create a new DataFrame.

district_summary_df = pd.DataFrame(
    [{"Total Schools": school_count,
     "Total Students": student_count,
     "Total Budget": total_budget,
     "Average Math Score": average_math_score,
     "Average Reading Score": average_reading_score,
     "% Passing Math": passing_math_percentage,
     "% Passing Reading": passing_reading_percentage,
     "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [21]:
# Format the "Total Students" to have the comma for a thousands separator.

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [22]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [23]:
# Format the columns.

district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [24]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]

In [25]:
# Display the DataFrame.
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65